<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>{{{ name }}}</title>
  <meta name="description" content="Awesome App solves your problems!">
  <meta name="author" content="Ace McAwesome">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">

  <!-- Styles -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <div class="container-fluid">

    <div class="row">
      <div class="twelve columns topbar">
        <h1>{{{ name }}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="eight columns offset-by-two content">
        <br>
        <br>
        <h4>Basic Page</h4>
        <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
        <center>
          <img alt="Solve your problem!" title="Solve your problem today!" src="images/jumbotron.png">
        </center>
      </div>
    </div>

  </div>

</body>
</html>
